@import "tailwindcss";
@import "tw-animate-css";

/* CSS Variables */
:root {
  --White-Color: #ffffff;
  --Dark-Color: #1a1a1a;
  --Primary-Color: #6366f1;
  --Secondary-Color: #a855f7;
  --Gray-Color: #6b7280;
}

html {
  font-family: var(--font-bricolage), sans-serif;
}
